@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_plain.cshtml";
}
<div class="row mb-5 mt-10 justify-content-center">
        <div class="col-md-12 col-lg-4 mb-3 justify-content-center">
        <div class="card text-center">
                <div class="card-header  text-uppercase">Password Rest Link Confirmation</div>
            <div class="card-body">
                    <h5 class="card-title text-uppercase">Forgot Password Link Confirmation</h5>
                <p class="card-text text-success">your Passowrd reset Link been sent to your email kindly verify and log back in?</p>
@*                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Back Home</a>
*@            </div>
            <div class="card-footer text-muted">@DateTime.Now</div>
        </div>
    </div>
</div>





    .