@using STMIS.Models.ViewModels
@model ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_plain.cshtml";
}

<div class="row mb-5 justify-content-center">

    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card text-center">
            <div class="card-header">Password  Reset Confirmation</div>
            <div class="card-body">
                <h5 class="card-title">Password  Reset Confirmation</h5>
                <p class="card-text">this Action will permanently change your current password.

                </p>
                <p class="card-text text-danger">
                   Are you sure you want to proceed?
                </p>
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#backDropModal">
                    PASSWORD RESET
                </button>
                <a asp-area="" asp-controller="Accoount" asp-action="Login" class="btn btn-outline-primary">
                   Back
                </a>
            </div>
            <div class="card-footer text-muted">@DateTime.Now</div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-3">
   
    <div class="mt-3">
        <!-- Button trigger modal -->
       
        <!-- Modal -->
        <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <form asp-controller="Account" asp-action="ResetPassword" method="post" role="form" class="modal-content">
                    <div asp-validation-summary="All" class="text-danger" />
                    <input asp-for="Code" hidden />
                    <div class="modal-header">
                        <h5 class="modal-title" id="backDropModalTitle">PASSWORD RESET</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBackdrop" class="form-label">Email</label>
                                <input type="email"
                                       id="nameBackdrop"
                                       class="form-control"
                                       placeholder="johnDoe@gmail.com"
                                       asp-for="Email" />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-0">
                                <label for="emailBackdrop" class="form-label">Password</label>
                                <input type="password"
                                       id="emailBackdrop"
                                       class="form-control"
                                       placeholder="xxxx@xxx.xx" 
                                       asp-for="Password" />
                            </div>
                            <div class="col mb-0">
                                <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
                                <input type="password"
                                       id="emailBackdrop"
                                       class="form-control"
                                       asp-for="ConfirmPassword" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>