@model STMIS.Models.WeeksTable

@{
    ViewData["Title"] = "Details";
}

<div class="row mb-5 mt-10 justify-content-center">
    <div class="col-md-12 col-lg-4 mb-3 justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <div class="card-header  text-uppercase">WEEK details</div>
                <h5 class="card-title text-uppercase"></h5>
                <p class="card-text ">
                    @Html.DisplayNameFor(model => model.WeekId)
                </p>
                <p>@Html.DisplayFor(model => model.WeekName)</p>
                <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model?.WeekId">Edit</a> | <a asp-action="Index" class="btn btn-outline-primary">Back </a>

            </div>
            <div class="card-footer text-muted">@DateTime.Now</div>
        </div>
    </div>
</div>